<a routerLink="/channels/add">Créer un canal</a>

<h2>Liste des canaux</h2>

<ul *ngIf="channels.length; else noChannelMessage">
    <li *ngFor="let channel of channels; let i = index">
        <a [routerLink]="['/channels', channel.id]">{{ channel.name }}</a> ---- 
        <a [routerLink]="['/channels', channel.id, 'edit']">Modifier</a> ----
        <a [routerLink]="['/channels', channel.id, 'delete']">Supprimer</a>
    </li>
</ul>

<ng-template #noChannelMessage>
    <div>Aucun canal en BDD</div>
</ng-template>

<hr>






<!--


<h1 class='center'>Channels</h1>
<div class='container'>
    <div class="row">
        <div *ngFor='let channel of channels' class="col s6 m4">
 <div class="card horizontal" (click)="selectChannel(channel)"> DONT FORGET REPLACE THE /DIV AT FINAL
    
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ channel.name }}</p>
                    <p><small>{{ channel.created }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

-->

