<!DOCTYPE html>
<html>
  <head>

  </head>
    <body>
        <section class="channelsnavbar">
            <h2>Channels</h2>
        
            <div class="channelsidebar">
                <ul *ngIf="channels.length; else noChannelMessage">
                    <p *ngFor="let channel of channels; let i = index">
                        <a [routerLink]="['/channels', channel.id]">#{{ channel.name }}</a>
                    </p>
                </ul>
            </div>
        
        
            <ng-template #noChannelMessage>
                <div>Aucun canal en BDD</div>
            </ng-template>


            <a routerLink="/channels/add">Ajouter un canal</a>
        </section>
        <hr>


    </body>

</html>






<!--


<h1 class='center'>Channels</h1>
<div class='container'>
    <div class="row">
        <div *ngFor='let channel of channels' class="col s6 m4">
 <div class="card horizontal" (click)="selectChannel(channel)"> DONT FORGET REPLACE THE /DIV AT FINAL
    
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ channel.name }}</p>
                    <p><small>{{ channel.created }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

-->

