
.navbar{
  overflow:hidden;
  background-color:#111;
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  text-align: center;
  padding: 14px 16px;
}

.navbar a{
 font-size: 30px;
}

.navbar h2{
  padding-bottom: 10px;
 }

 
@media screen and (max-height: 640px) {
  .channelsnavbar{
    display: none;
  }
}

@media screen and (max-width: 1280px) {
    .channelsnavbar{
      display: none;
    }
}