<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    
    <div class="navbar">
      <h2>Slack-ON!</h2>
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/channels']">Channels</a>
      <a [routerLink]="['/users']">Log-in</a>
    </div>

    <hr> 

    <section class="channelsnavbar">     
      <app-list-channels></app-list-channels>
    </section>

    <!--
    <section class="usersnavbar">
      <p>Users</p>
    </section>
    -->
    <router-outlet></router-outlet>
  </body>
</html>


