<h2>Poster un nouveau message</h2>


<div>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        
        <label for="username">Username: </label>
        <input id="username" type="text"  formControlName="username">
        <br>
        <label for="content">Message: </label>
        <textarea id="content" formControlName="content"></textarea>

        <br>
        <button type="button" (click)="submitMessage()">Poster</button>
    </form>
</div>

<div class="alert alert-danger" *ngIf="messageForm.errors?.['minlength']">
    L'username doit contenir au minimum 4 caractères, au maximum 30.
    Le contenu ne doit pas être vide!
</div>
