<h2>Poster un nouveau message</h2>


<div>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        
        <label for="username">Username: </label>
        <input id="username" type="text"  formControlName="username">
        <br>
        <label for="content">Message: </label>
        <input id="content" type="text"  formControlName="content">

        <br>
        <button type="button" (click)="submitMessage()">Poster</button>
    </form>
</div>

<div class="alert alert-danger" *ngIf="messageForm.errors?.['minlength']" else MessageSuccess>
    Name must be at least 4 characters long.
</div>

<div class="alert alert-success"  *ngIf id="MessageSuccess">
    <strong>Success!</strong> Register successful .
</div>
