<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://discordcss.blobby.me">

    </head>
    <body>
        <h2>Creer un nouveau canal</h2>

        <div>
            <label for="">Nom du canal</label>
            <input 
                type="text"
                class="form-control"
                id="name"
                [formControl]="form.controls.name">
        </div>
        
        <button type="button" (click)="submitChannel()">Créer le canal</button>
        
        <router-outlet></router-outlet>
    </body>
</html>
