<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <section class="channelcontent">
            <h2>{{ channel?.name }}</h2>
            <hr>
            <ul *ngIf="channel.messages.length; else noChannelMessage">
                <blockquote *ngFor="let message of channel.messages; let i = index">
                    <!--<div class="username">{{ message.user.username}}</div>
                    <div class="messagedate">{{ message.datetime}}</div>-->
                    <code>{{ message.content}}</code>
                    {{ message.content }}
                    <!--<p class="messagecontent">{{ message.content }} </p>-->                        
                </blockquote>
            </ul>
            <ng-template #noChannelMessage>
                <div>Aucun message sur ce canal</div>
            </ng-template>
        </section>
        <hr>


        <section class="usersnavbar">
            <h2>Users</h2>
            <ul *ngIf="channel.users.length; else noChannelUser">
                <p *ngFor="let user of channel.users; let i = index">
                    {{ user.username }}
                </p>
            </ul>
            <ng-template #noChannelUser>
                <div>Aucun utilisateur sur ce canal</div>
            </ng-template>
        </section>
    </body>
</html>





















