<h2>{{ channel?.name }}</h2>

<hr>

<h2>Discussion</h2>

<ul *ngIf="channel.messages.length; else noChannelMessage">
    <li *ngFor="let message of channel.messages; let i = index">
        {{ message.content }}
    </li>
</ul>

<ng-template #noChannelMessage>
    <div>Aucun message sur ce canal</div>
</ng-template>


<hr>

<h2>Utilisateurs</h2>

<ul *ngIf="channel.users.length; else noChannelUser">
    <li *ngFor="let user of channel.users; let i = index">
        {{ user.username }}
    </li>
</ul>

<ng-template #noChannelUser>
    <div>Aucun utilisateur sur ce canal</div>
</ng-template>




