<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <section class="channelcontent">
            <h2>#{{ channel?.name }}</h2> 
            
            <br/>
            <ul *ngIf="channel.messages.length; else noChannelMessage">
                <blockquote *ngFor="let message of channel.messages; let i = index">
                    <div class="username">{{ message.username}}</div>
                    <div class="messagedate">à {{ message.datetime | date :'HH:mm' }} le {{ message.datetime | date : 'd MMM YYYY' }}</div>
                    <!--<code>{{ message.content}}</code>-->
                    {{ message.content }}
                    <!--<p class="messagecontent">{{ message.content }} </p>-->                        
                </blockquote>
            </ul>
            <ng-template #noChannelMessage>
                <div>Aucun message sur ce canal</div>
            </ng-template>
        </section>
        <br/>


        <!-- <section class="usersnavbar">
            <h2>Users</h2>
            <ul *ngIf="channel.users.length; else noChannelUser">
                <p *ngFor="let user of channel.users; let i = index">
                    {{ user.username }}
                </p>
            </ul>
            <ng-template #noChannelUser>
                <div>Aucun utilisateur sur ce canal</div>
            </ng-template>
        </section>


        <section class="addmessage">
             <app-add-message></app-add-message>
        </section>

        </section> -->
        
    </body>
</html>





















